:root {
    --polaroid-scale: 0.9 !important;
}

.photo-container {
    display: flex;
    padding: 30px;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
    gap: 45px;
}

.message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-secondary);
    margin: 32px;
    padding: 32px;
}

.message-container > * {
    margin: 4px;
    text-align: center;
    color: red;
}

.sleep-image {
    min-width: 360px;
    width: 25%;
    filter: sepia();
}